/*палитра https://color.romanuke.com/tsvetovaya-palitra-4199/*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f0f1f4;
  font-family: 'Montserrat', sans-serif;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter, .values {
  width: 400px;
}

.counter-border {
  width: 250px;
  height: 50px;
  margin: 20px auto;
  border: 2px solid #2c3632;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.values-text {
  background-color: #899593;
  width: 250px;
  height: 500px;
  margin: 0 auto;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.values-text p {
  margin-bottom: 8px;
}

.send {
  margin-top: 20px;
}


input {
  width: 200px;
  margin-bottom: 8px;
}
input:focus {
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 /* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}